@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto&display=swap');;
body {
    background: black;
    color: white;
}

h1 {
    font-family: 'Permanent Marker', 'Arial';
    color: white;
    font-size: 13vw;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .5vw;
    margin-right: 1vw;
}

.startButton {
    font-size: 50pt;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: linear-gradient(top, #fbfbfb, #e1e1e1);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    /* border: 1rem solid #d4d4d4; */
    height: 25rem;
    line-height: 25rem;
    /* padding: 5rem; */
    /* font-weight: 300; */
    font-family: "Permanent Marker", "Lucida Grande", sans-serif;
    color: black;
    text-shadow: 0 1px 1px white;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    outline: 0;
  }

.startButtonCircle {
    -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  border-radius: 50rem;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 25rem;
  line-height: 4rem;
  height: 25rem;
  padding: 2rem;
  border-width: 1rem;
  outline: 0;
}

.startButton:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc);
  }
  
  .startButton:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb;
  }

  .link {
      text-decoration: none;
      color: black;
      padding-bottom: 3rem; 
  }

  .copyright {
    font-family: 'Roboto';
    font-size: 6pt; 
    margin-top: 5vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }

  .copyAndLogOut {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }