@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Roboto&display=swap');;
body {
  background: black;
  color: white;
}

h1 {
  font-family: 'Permanent Marker', 'Arial';
  color: white;
  font-size: 13vw;
  letter-spacing: .05em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: .5vw;
  margin-right: 1vw;
}

.startButton {
  font-size: 5vw;
  text-decoration: none;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  /* border: 1rem solid #d4d4d4; */
  height: 25rem;
  line-height: 25rem;
  /* padding: 5rem; */
  /* font-weight: 300; */
  font-family: "Permanent Marker", "Lucida Grande", sans-serif;
  color: black;
  text-shadow: 0 1px 1px white;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-bottom: 6vw;
  text-align: center;
  outline: 0;
}

.startButtonCircle {
  -webkit-border-radius: 50vw;
  -moz-border-radius: 50vw;
  -ms-border-radius: 50vw;
  -o-border-radius: 50vw;
  border-radius: 50vw;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 25vw;
  line-height: 5vw;
  height: 25vw;
  padding: 2vw;
  border-width: 2vw;
  outline: 0;
}

.startButton:hover {
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
  background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
  background: -o-linear-gradient(top, #ffffff, #dcdcdc);
  background: linear-gradient(top, #ffffff, #dcdcdc);
}

.startButton:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #eeeeee;
  color: #bbbbbb;
}

.link {
  text-decoration: none;
  color: black;
  padding-bottom: 3rem; 
}

.copyright {
  font-family: 'Roboto';
  font-size: 6pt; 
  margin-top: 5vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
}

.copyAndLogOut {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/* _______________Number of Players_______________ */
.createFormHeading {
  font-family: "Permanent Marker", sans-serif;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 1vw;
}

.selectDirection {
  font-family: 'Roboto';
  font-size: 2vw;
  margin-bottom: 1vw;
}

.numberPlayers {
  margin-top: 0;
  display: flex;
  border: none;
}

.radioLabel {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2vw;
  margin-left: 3vw;
  margin-bottom: 0;
}

/* __________Player Names____________ */
.players{
  display: flex;
  flex-direction: column;
}

.numberPlayers {
  justify-content: center;
}

.nameDirection {
  font-family: 'Roboto';
  font-size: 2vw;
  margin-bottom: 1vw;
  font-weight: lighter;
}

.playerNameForm {
  margin-top: 0;
  border: none;
}

.playerInputs {
  font-family: "Roboto";
  font-size: 1.5vw;
}

.radioLabel {
  border: 2px solid white;
  padding: 1vw;
  border-radius: 2vw;
}

/* ________________Questions____________________ */
.gameplayHeading {
  font-size: 8vw;
}

.questionNumberHeading {
  font-family: 'Roboto';
  font-size: 2.5vw;
  margin: 0;
}

b {
  color:gray;
}

.options {
  font-family: 'Roboto';
  font-size: 2vw;
}

.namePointsUL {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 3vw;
}

.namePoints {
  display: flex;
  align-items: center;
  border: 2px solid white;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.gameNotes {
  font-weight: bold;
  font-size: 3vw;
}

/* _________________Change Questions____________ */
/* .editQuestionsHeading {
  font-size: 4vw;
  font-family: 'Roboto';
  margin-bottom: 0;
  margin-top: 2vw;
} */

.gameOptionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vw;
}

.choose {
  font-family: 'Roboto';
  font-size: 2vw;
  font-weight: bold;
}

.gameOption {
  font-family: 'Roboto';
  font-size: 2vw;

}

.editorButtons {
  display: flex;
}

/* ____________PAST GAMES_____________ */
.pastGames {
  border: 2px solid white;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vw;
  padding-bottom: 2vw;
  
}

.yourGameScores {
  font-family: 'Permanent Marker';
  font-size: 4vw;
}

.pastGameSentence {
  font-size: 3.5vw;
  font-weight: lighter;
}

.pastGameNotes {
  font-size: 1.5vw;
  font-family: 'Roboto';
}